<!DOCTYPE html>
<html ng-app="dare">
 
<head>
  <title>Dare</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
 
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
</head>
 
<body>
  <div class="container">
    <h1>Dare</h1>
    <hr/>
    <ng-view></ng-view>
  </div>
 
  <!-- Live reload script -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
 
</html>