<!DOCTYPE html>
<html ng-app="dareApp">

<head>
  <title>Dare: Waste your Money</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/styles.css">

  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <!-- LINKS THE FUCKING FACTORIES AND CONTROLLERS -->
  <script type="text/javascript" src="lib/js/app.js"></script>
  <script type="text/javascript" src="lib/js/factory.js"></script>
  <script type="text/javascript" src="lib/js/controllers.js"></script>
</head>

<body>
<div class = "signup">
  <div class="container">
    <div class="orange1 color_block"></div>
    <div class="contain_wrap">
        <div class="signup_sect col-md-6">
            <form class="signup_form">
                <h2 class="signup_title title">Signup</h2>
                <p class = "correction">Name:</p> 
                <input type="text" name="firstname" placeholder="Steve O" \> <br>
                <p class = "correction">Email: </p> 
                <input type="text" name="email" placeholder="steveo@jackass.com" \> <br>
                <button type="button" class="name_signup">Go!</button>
            </form>
        </div>
        <div class="login_sect col-md-6">
            <form class="login_form">
                <p class = "correction">Email:</p> 
                <input type="text" name="firstname" placeholder="Johnny Knoxville" \> <br>
                <p class = "correction">Password:</p>
                <input type="password" name="email" \> <br>
                <button type="button" class="name_signup">Go!</button>
                <h2 class="login_title title">Login</h2>
            </form>
        </div>
        <div class="orange2 color_block"></div>
    </div>
  </div>
</div>

  <!-- Live reload script -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>


</body>

</html>